<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AboutUs</title>
    <link rel="stylesheet" href="css/main.css">
    <style>
        body {
            background-image: url('Images/Usual.png'); 
            background-size: cover; 
            background-repeat: no-repeat; 
            background-position: center; 
            height: 100vh; 
            margin: 0;
        }
        </style>
</head>
<body>
    
    <div class="sidebar">
        <h2>Вход в личный кабинет</h2>
        <a href="LogIn.html" class="link">Войти</a>
    </div>
    <div class="content">
        <h1><img src="Images/Logo.png" alt="tittle"></h1>
        <h2 class="about" class="text">Бесплатный курс по Blender: от чайника до кофеварки</h2>
        <div class="about">
            <h3>О нас</h3>
            <a href="ABoutUs.html" class="link">Узнать больше</a>
        </div>
      
    </div>

</body>
</html>