<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" href="css/main.css">
    <style>
        body {
            background-image: url('Images/Usual.png'); 
            background-size: cover; 
            background-repeat: no-repeat; 
            background-position: center; 
            height: 100vh; 
            margin: 0;
        }
        </style>
</head>
<body>
    
    <div class="sidebar">
        <h2>Онлайн-курсы</h2>
        <h3>Основы</h3>
        <h3>Начинающий</h3>
        <h3>Продвинутый</h3>
        <h3>Профи</h3>
    </div>
    <div class="content">
        <h1><img src="Images/Logo.png" alt="tittle"></h1>

        <div class="about">
            <p>Материалы курса</p>
            <a href="Registration.html" class="link">Первые шаги</a>
        </div>


</body>
</html>