<!DOCTYPE html>​

<html> ​

<head> ​

        <title>login</title>​
        <link rel="stylesheet" href="css/main.css">
        <style>
            body {
                background-image: url('Images/Usual.png'); 
                background-size: cover; 
                background-repeat: no-repeat; 
                background-position: center; 
                height: 100vh; 
                margin: 0;
            }
          
            </style>

</head>​

    <body> ​
        <div class="content">
            <h1><img src="Images/Logo.png" alt="tittle"></h1>
        </div>
        


    <h1 class="sidebar">
        Вход в личный кабинет
    </h1>
       
    <div class="login_background">
    <form action="/submit_login" method = "post" >
    <p  ><input type="email" placeholder="ваша@почта.com" name="Usermail" id="Usermail"/></p> 
    <p><input type="password" maxlength="8" placeholder="пароль" name="Password" id="Password"/></p>  
     <p>Зарегестрироваться<input type="submit" value="Отправить" class="buttonstyle"> </p>    
        </form>
        <p>Нет аккаунта?</p>  <a href="Registration.html" class="link">Зарегестрироваться</a>
    </div>

       </body>​

</html>