<!DOCTYPE html>​

<html> ​
<head> ​

        <title>register</title>​
        <link rel="stylesheet" href="css/main.css">
        <style>
            body {
                background-image: url('Images/Usual.png'); 
                background-size: cover; 
                background-repeat: no-repeat; 
                background-position: center; 
                height: 100vh; 
                margin: 0;
            }
          
            </style>

</head>​

       <body> ​
        <div class="content">
            <h1><img src="Images/Logo.png" alt="tittle"></h1>
        </div>

        <div class="sidebar">
        <h1> BlenderedCourse</h1>
        <h2>Создание учетной записи</h2>
        </div>
        
        <div class="login_background">
        <form action="/submit" method = "post">
            
        <p><input type=“text” placeholder="Введите Имя" maxlength="15" name="First_name" id="First_name" /></p> 

        <p><input type=“text” placeholder="Введите Фамилию" maxlength="15" name="Second_name" id="Second_name"/></p>


        <p><input type="email" placeholder="ваша@почта.com" name="Usermail" id="Usermail"/></p> 

        <p><input type="password" maxlength="8" placeholder="пароль" name="Password" id="Password"/></p>  

        <p ><input type="submit" value="Зарегестрироваться" class="buttonstyle"> </p>   
        </form>
        </div>


       </body>​

</html>