<!DOCTYPE html>​

<html> ​
<head> ​

        <title>register</title>​

</head>​

       <body> ​
        <h1> BlenderedCourse</h1>
        <h2>Создание учетной записи</h2>
        <h1>---
            ---
            ---
        </h1>
        <form action="/submit" method = "post">
            
        <p><input type=“text” placeholder="Введите Имя" maxlength="15" name="First_name" id="First_name" /></p> 

        <p><input type=“text” placeholder="Введите Фамилию" maxlength="15" name="Second_name" id="Second_name"/></p>


        <p><input type="email" placeholder="ваша@почта.com" name="Usermail" id="Usermail"/></p> 

        <p><input type="password" maxlength="8" placeholder="пароль" name="Password" id="Password"/></p>  

        <p>Зарегестрироваться<input type="submit" value="войти"> </p>   
        </form>


       </body>​

</html>